@page
@model PetShopAtlantico.Pages.Accommodations.CreateModel

@{
    ViewData["Title"] = "Accommodation - Register";
}

<section>
    <h1 class="titlePage">Accommodation - Register</h1>

    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Accommodation.HospitalizationMotive" class="control-label"></label>
                    <input asp-for="Accommodation.HospitalizationMotive" class="form-control"/>
                    <span asp-validation-for="Accommodation.HospitalizationMotive" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Accommodation.HealthState" class="control-label"></label>
                    <input asp-for="Accommodation.HealthState" class="form-control"/>
                    <span asp-validation-for="Accommodation.HealthState" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Accommodation.AccommodationDate" class="control-label"></label>
                    <input asp-for="Accommodation.AccommodationDate" class="form-control"/>
                    <span asp-validation-for="Accommodation.AccommodationDate" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Accommodation.IsNotVacant"/> @Html.DisplayNameFor(model => model.Accommodation.IsNotVacant)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Accommodation.Pet.PetName" class="control-label"></label>
                    <select asp-for="Accommodation.PetId" class="form-control" asp-items="ViewBag.PetName"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success"/>
                    <a asp-page="./Index" class="btn btn-warning">Back</a>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
