@page
@model PetShopAtlantico.Pages.Pets.EditModel

@{
    ViewData["Title"] = "Edit";
}


<section>
    <h1 class="titlePage">Pet - Edit</h1>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Pet.Id"/>
                <div class="form-group">
                    <label asp-for="Pet.PetName" class="control-label"></label>
                    <input asp-for="Pet.PetName" class="form-control"/>
                    <span asp-validation-for="Pet.PetName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pet.Breed" class="control-label"></label>
                    <input asp-for="Pet.Breed" class="form-control"/>
                    <span asp-validation-for="Pet.Breed" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Pet.Picture"/> @Html.DisplayNameFor(model => model.Pet.Picture)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Pet.OwnerName" class="control-label"></label>
                    <input asp-for="Pet.OwnerName" class="form-control"/>
                    <span asp-validation-for="Pet.OwnerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pet.PetOwnerId" class="control-label"></label>
                    <select asp-for="Pet.PetOwnerId" class="form-control" asp-items="ViewBag.PetOwnerId"></select>
                    <span asp-validation-for="Pet.PetOwnerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success"/>
                    <a asp-page="./Index" class="btn btn-warning">Back</a>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}