@page
@using PetShopAtlantico.Models
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<h1 class="description">
    Take care of your pet with love and affection
</h1>

<div class="divider"></div>

<div id="cardGrid" class="container text-center">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <img src="img/pets05.png" class="card-img-top" alt="owner pet">
                <div class="card-body">
                    <h5 class="card-title">Family</h5>
                    <p class="card-text">Area reserved for registration of the Responsible</p>
                    <a id="button" asp-area="" asp-page="/PetOwners/Index" class="btn btn-block">Click here</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 19rem;">
                <img src="img/pets06.png" class="card-img-top" alt="pet">
                <div class="card-body">
                    <h5 class="card-title">Pet</h5>
                    <p class="card-text">Register your Pet here</p><br>
                    <a id="button" asp-area="" asp-page="/Pets/Index" class="btn btn-block">Click here</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 19rem;">
                <img src="img/pets04.png" class="card-img-top" alt="Internacao">
                <div class="card-body">
                    <h5 class="card-title">Hospitalization</h5>
                    <p class="card-text">Check reservations for admission of your pet</p>
                    <a id="button" asp-area="" asp-page="/Accommodations/Index" class="btn btn-block">Click here</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}